<div class="content p-1">
    <div class="list-group-item">
        <div class="d-flex">
            <div class="mr-auto p-2">
                <h2 class="display-4 titulo">Mensagem de Contato</h2>
            </div>
            <div class="p-2">
                <span class="d-none d-md-block">
                    <a href="/contato/list-contato" class="btn btn-outline-info btn-sm">Listar</a>
                </span>
                <div class="dropdown d-block d-md-none">
                    <button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="acoesListar"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ações
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="acoesListar">
                        <a class="dropdown-item" href="/contato/list-contato">Listar</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <dl class="row">
            <dt class="col-sm-3">ID</dt>
            <dd class="col-sm-9">{{contato._id}}</dd>

            <dt class="col-sm-3">Nome</dt>
            <dd class="col-sm-9">{{contato.nome}}</dd>

            <dt class="col-sm-3">E-mail</dt>
            <dd class="col-sm-9">{{contato.email}}</dd>

            <dt class="col-sm-3">Assunto</dt>
            <dd class="col-sm-9">{{contato.assunto}}</dd>

            <dt class="col-sm-3">Mensagem</dt>
            <dd class="col-sm-9">{{contato.mensagem}}</dd>

        </dl>
    </div>
</div>