<footer class="container-fluid py-3 rodape">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4">
                <h5>{{rodape.titulopg}}</h5>
                <ul class="list-unstyled">
                    <li><a class="link-rodape" href="{{rodape.urlpgum}}">{{rodape.titulopgum}}</a></li>
                    <li><a class="link-rodape" href="{{rodape.urlpgdois}}">{{rodape.titulopgdois}}</a></li>
                    <li><a class="link-rodape" href="{{rodape.urlpgtres}}">{{rodape.titulopgtres}}</a></li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <h5>{{rodape.tituloend}}</h5>
                <ul class="list-unstyled">
                    <li><a class="link-rodape" href="tel:{{rodape.telefone}}">{{rodape.telefone}}</a></li>
                    <li>{{rodape.endereco}}</li>
                    <li>{{rodape.cnpj}}</li>
                </ul>
            </div>
            <div class="col-12 col-sm-12 col-md-4">
                <h5>{{rodape.tituloredsoc}}</h5>
                <ul class="list-unstyled">
                    <li><a class="link-rodape" href="{{rodape.urlrdum}}" target="_blank">{{rodape.titulorsum}}</a></li>
                    <li><a class="link-rodape" href="{{rodape.urlrddois}}" target="_blank">{{rodape.titulorsdois}}</a>
                    </li>
                    <li><a class="link-rodape" href="{{rodape.urlrdtres}}" target="_blank">{{rodape.titulorstres}}</a></li>
                    <li><a class="link-rodape" href="{{rodape.urlrdquatro}}" target="_blank">{{rodape.titulorsquatro}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>