<div class="jumbotron descr-top-sobre">
    <div class="container text-center">
        <h1>{{sobre.titulotop}}</h1>
        <p class="lead mb-4">{{sobre.subtitulotop}}</p>
    </div>
</div>


<div class="jumbotron sobre">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading exp-home-titulo">{{sobre.titulo}}</h2>
                <p class="lead">{{sobre.subtitulo}}</p>
                <p><a href="{{sobre.urlbtn}}"><button type="button" class="btn btn-outline-danger">{{sobre.titulobtn}}</button></a></p>
            </div>
            <div class="col-md-6">
                <div class="">
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                <i class="{{sobre.iconesbum}}"></i>
                            </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{sobre.titulosbum}}</strong> 
                            {{sobre.descsbum}}
                        </p>
                    </div>
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                <i class="{{sobre.iconesbdois}}"></i>
                            </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{sobre.titulosbdois}}</strong> {{sobre.descsbdois}}
                        </p>
                    </div>
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                <i class="{{sobre.iconesbtres}}"></i>
                            </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{sobre.titulosbtres}}</strong> {{sobre.descsbtres}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{>_rodape}}