<div class="jumbotron descr-top">
    <div class="container text-center">
        <h1>{{hometopo.titulo}}</h1>
        <p class="lead mb-4">{{hometopo.subtitulo}}</p>
        <a class="btn btn-lg btn-outline-light" href="{{hometopo.urlbtn}}" role="button">{{hometopo.titulobtn}}</a>
    </div>
</div>


<div class="jumbotron servicos">
    <div class="container">
        <h2 class="display-4 text-center" style="margin-bottom: 40px;">{{servico.titulo}}</h2>

        <div class="card-deck">
            <div class="card text-center card-um">
                <span style="font-size: 58px; color: #313451;">
                    <i class="{{servico.iconeservum}}"></i>
                </span>
                <div class="card-body">
                    <h5 class="card-title">{{servico.tituloservum}}</h5>
                    <p class="card-text lead">{{servico.descservum}}</p>
                </div>
            </div>
            <div class="card text-center card-dois">
                <span style="font-size: 58px; color: #313451;">
                    <i class="{{servico.iconeservdois}}"></i>
                </span>
                <div class="card-body">
                    <h5 class="card-title">{{servico.tituloservdois}}</h5>
                    <p class="card-text lead">{{servico.descservdois}}</p>
                </div>
            </div>
            <div class="card text-center card-tres">
                <div class="icon-row tamanh-icone ">
                    <span style="font-size: 58px; color: #313451;">
                        <i class="{{servico.iconeservtres}}"></i>
                    </span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{servico.tituloservtres}}</h5>
                    <p class="card-text lead">{{servico.descservtres}}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="jumbotron video">
    <div class="container">
        <h2 class="display-4 text-center video-titulo" style="margin-bottom: 40px;">{{video.titulo}}</h2>
        <p class="lead text-center video-parag">{{video.subtitulo}}</p>
        <div class="row justify-content-md-center video-cont">

            <div class="col-12 col-md-8">
                <div class="embed-responsive embed-responsive-16by9">
                    {{{video.urlvideo}}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron exp-home">
    <div class="container">
        <div class="row featurette">
            <div class="col-md-6">
                <h2 class="featurette-heading exp-home-titulo">{{experiencia.titulo}}</h2>
                <p class="lead">{{experiencia.subtitulo}}</p>
                <p><a href="{{experiencia.urlbtn}}"><button type="button" class="btn btn-outline-danger">{{experiencia.titulobtn}}</button></a></p>
            </div>
            <div class="col-md-6">
                <div class="">
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                    <i class="{{experiencia.iconeexpum}}"></i>
                            </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{experiencia.tituloexpum}}</strong> {{experiencia.descexpum}}
                        </p>
                    </div>
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                    <i class="{{experiencia.iconeexpdois}}"></i>
                                    </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{experiencia.tituloexpdois}}</strong> {{experiencia.descexpdois}}
                        </p>
                    </div>
                    <div class="media text-muted pt-3">
                        <div class="bd-placeholder-img mr-2 rounded">
                            <span style="font-size: 38px; color: #313451;">
                                    <i class="{{experiencia.iconeexptres}}"></i>
                                    </span>
                        </div>
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">{{experiencia.tituloexptres}}</strong> {{experiencia.descexptres}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>